doctype html
head
  title Hipsteroids
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
  link(rel="stylesheet", type="text/css", href="/components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="/components/fontawesome/css/font-awesome.min.css")
  link(rel="stylesheet", type="text/css", href="/css/app.css")
body(ng-app="hipster", ng-cloak="ng-cloak")
  .navbar.navbar-default.navbar-fixed-top(ng-controller="NavCtrl", role="navigation")
      .container
          .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              a.navbar-brand(href="/")
                i.fa.fa-home
          .collapse.navbar-collapse
              ul.nav.navbar-nav
                  li(ng-class="{ active: active('/') }")
                    a(href="/") Home
                  li(ng-class="{ active: active('/posts') }")
                    a(href="#/posts") Posts
                  li(ng-class="{ active: active('/about') }")
                    a(href="#/about") About
                  li(ng-class="{ active: active('/admin/posts') }", ng-show-auth="login")
                    a(href="#/admin/posts")
                      i.fa.fa-cog
                      |  Admin
              .navbar-right
                div(ng-show-auth="logout")
                  a(href="#/login").btn.btn-default.navbar-btn
                    i.fa.fa-sign-in
                    |  Sign in
                div(ng-show-auth="login")
                  a(ng-controller="LoginCtrl", ng-click="logout()").btn.btn-default.navbar-btn
                    i.fa.fa-sign-out
                    |  Sign out
  div(ng-view)
  
  script(type="text/javascript", src="/components/jquery/jquery.min.js")
  script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript", src="/components/firebase/firebase.js")
  script(type="text/javascript", src="/components/firebase-simple-login/firebase-simple-login.js")
  script(type="text/javascript", src="/components/angular/angular.js")
  script(type="text/javascript", src="/components/angularfire/angularfire.js")
  script(type="text/javascript", src="/components/angular-route/angular-route.min.js")
  script(type="text/javascript", src="/app/app.js")
  script(type="text/javascript", src="/app/config.js")
  script(type="text/javascript", src="/app/modules/routesecurity.js")
  script(type="text/javascript", src="/app/services/firebaseref.js")
  script(type="text/javascript", src="/app/services/login.js")
  script(type="text/javascript", src="/app/services/posts.js")
  script(type="text/javascript", src="/app/controllers/nav.js")
  script(type="text/javascript", src="/app/controllers/posts.js")
  script(type="text/javascript", src="/app/controllers/admin/posts.js")
  script(type="text/javascript", src="/app/controllers/about.js")
  script(type="text/javascript", src="/app/controllers/login.js")
  script(type="text/javascript", src="/app/directives/auth.js")